html{
    background-color: black;
    font-family: sans-serif;
    color: aliceblue;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

form{
    width: 90%;
    min-width: 28.125em;
    max-width: 35em;
    background-color: black;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

label, input, textarea{
    display: block;
    width: 100%;
    padding: 1em;
}


input, textarea{
    background-color: rgba(0, 0, 0, .3);
    border: 2PX solid transparent;
    border-bottom-color:#BBB ;
    padding: .75em;
    margin: .5em 0 2.5em;
    color: white;
    outline: 0;
}

legend{
    padding: .5em;
    text-align: center;
    font-weight: bold;
    color: #8e999a;
    font-size: 1.3em;

}

.btn{
    background-color: #2a2727;
    color: #fff;
    cursor: pointer;
    padding: .7em;
    font-size: 1.2em;
    border: none;
}

input:invalid:focus, textarea:invalid:focus{
    border-bottom: 2px solid red;
}

input:valid:focus, textarea:valid:focus{
    border-bottom: 2px solid rgb(0, 255, 42);
}